<div class="container bg-light-subtle ">
  <div class=" d-flex align-content-center justify-content-center border border-dark">
    <form [formGroup]="form" (submit)="createMeasurement()">
      <label class="">Systolic Pressure</label>
      <input type="text"
             id="systolic"
             class="form-control"

             formControlName=systolic>

      <label class="">diastolic pressure</label>
      <input type="text"
             class="form-control"
             id="diastolic"
             formControlName="diastolic">

      <button type="submit" class="btn btn-primary">Add</button>
    </form>

  </div>
</div>
